includes:
    - ./phpstan-ignore-errors.neon

parameters:
    level: 1
    paths:
        - packages
        - tests
    checkAuthCallsWhenInRequestScope: true
    checkConfigTypes: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkMissingTranslations: false
    checkModelMethodVisibility: true
    checkModelProperties: true
    checkOctaneCompatibility: true
    checkUnusedViews: true
    enableMigrationCache: true
    generalizeEnvReturnType: true
    noUnnecessaryEnumerableToArrayCalls: true
    parseModelCastsMethod: true
    strictRules:
        # TODO remove when https://github.com/phpstan/phpstan-strict-rules/issues/140 is resolved
        # See also: https://github.com/larastan/larastan/issues/1272
        dynamicCallOnStaticMethod: false
    databaseMigrationsPath:
        - packages/address/database/migrations
        - packages/blog/database/migrations
        - packages/layout/database/migrations
    configDirectories:
        - packages/blog/config
        - packages/layout/config
    translationDirectories:
        - packages/address/resources/lang
        - packages/blog/resources/lang
        - packages/hero/resources/lang
        - packages/layout/resources/lang
    viewDirectories:
        - packages/address/resources/views
        - packages/blog/resources/views
        - packages/hero/resources/views
        - packages/layout/resources/views
    tmpDir: /tmp/phpstan
