includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/nesbot/carbon/extension.neon
    - ./vendor/pestphp/pest/extension.neon
    - ./vendor/tomasvotruba/bladestan/config/extension.neon

parameters:
    level: 1
    paths:
        - packages
    checkAuthCallsWhenInRequestScope: true
    checkConfigTypes: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkMissingTranslations: false
    checkModelMethodVisibility: true
    checkModelProperties: true
    checkOctaneCompatibility: true
    checkUnusedViews: true
    noUnnecessaryEnumerableToArrayCalls: true
    databaseMigrationsPath:
        - packages/address/database/migrations
        - packages/blog/database/migrations
        - packages/layout/database/migrations
    configDirectories:
        - packages/blog/config
        - packages/layout/config
    translationDirectories:
        - packages/address/resources/lang
        - packages/blog/resources/lang
        - packages/hero/resources/lang
        - packages/layout/resources/lang
    viewDirectories:
        - packages/address/resources/views
        - packages/blog/resources/views
        - packages/hero/resources/views
        - packages/layout/resources/views
    tmpDir: /tmp/phpstan
