includes:
    - ./phpstan-ignore-errors.neon

parameters:
    level: 1
    peststan:
        pestConfigFiles:
            - tests/Pest.php
    paths:
        - packages
        - tests
    checkAuthCallsWhenInRequestScope: true
    checkConfigTypes: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkMissingTranslations: false
    checkModelMethodVisibility: true
    checkModelProperties: true
    checkOctaneCompatibility: true
    checkUnusedViews: true
    enableMigrationCache: true
    generalizeEnvReturnType: true
    noUnnecessaryEnumerableToArrayCalls: true
    parseModelCastsMethod: true
    strictRules:
        # TODO remove when https://github.com/phpstan/phpstan-strict-rules/issues/140 is resolved
        # See also: https://github.com/larastan/larastan/issues/1272
        dynamicCallOnStaticMethod: false
    databaseMigrationsPath:
        - packages/address/database/migrations
        - packages/blog/database/migrations
        - packages/forms/database/migrations
        - packages/mosaic/database/migrations
        - packages/navigation/database/migrations
        - packages/plugins/database/migrations
        - packages/seo-tools/database/migrations
        - packages/tags/database/migrations
        - packages/themes/agency/database/migrations
        - packages/themes/corporate/database/migrations
        - packages/themes/saas/database/migrations
        - packages/workspaces/database/migrations
    configDirectories:
        - packages/backup/config
        - packages/default-theme/config
        - packages/mosaic/config
        - packages/plugins/config
        - packages/redirects/config
        - packages/seo-tools/config
        - packages/site-search/config
        - packages/tags/publishes/config
        - packages/themes/agency/config
        - packages/themes/corporate/config
        - packages/themes/saas/config
        - packages/toolbar/config
    translationDirectories:
        - packages/address/resources/lang
        - packages/blog/resources/lang
        - packages/mosaic/resources/lang
        - packages/plugins/resources/lang
        - packages/seo-tools/resources/lang
        - packages/tags/resources/lang
        - packages/toolbar/resources/lang
    viewDirectories:
        - packages/blog/resources/views
        - packages/default-theme/resources/views
        - packages/mosaic/resources/views
        - packages/navigation/resources/views
        - packages/seo-tools/resources/views
        - packages/themes-core/resources/views
        - packages/themes/agency/resources/views
        - packages/themes/corporate/resources/views
        - packages/themes/default/resources/views
        - packages/themes/saas/resources/views
        - packages/toolbar/resources/views
        - packages/workspaces/resources/views
    tmpDir: /tmp/phpstan
