<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    backupGlobals="false"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutOutputDuringTests="true"
    bootstrap="vendor/autoload.php"
    cacheResult="false"
    colors="true"
    failOnRisky="true"
    failOnWarning="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
    backupStaticProperties="false"
    displayDetailsOnIncompleteTests="true"
    displayDetailsOnSkippedTests="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerErrors="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
>
    <testsuites>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/src/Blog/Feature</directory>
            <directory suffix="Test.php">./tests/src/Layout/Feature</directory>
        </testsuite>
        <testsuite name="Arch">
            <directory suffix="Test.php">./tests/src/Blog/Arch</directory>
            <directory suffix="Test.php">./tests/src/Layout/Arch</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/src/Address/Integration</directory>
            <directory suffix="Test.php">./tests/src/Blog/Integration</directory>
            <directory suffix="Test.php">./tests/src/Layout/Integration</directory>
            <directory suffix="Test.php">./tests/src/Packages/Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./packages</directory>
        </include>
    </source>
    <php>
        <ini name="memory_limit" value="-1"/>
        <server name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="12345678901234567890123456789012"/>
        <env name="BCRYPT_ROUNDS" value="12"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="CURATOR_GLIDE_TOKEN" value="123456789"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
</phpunit>
