@theme {
    --container-2xs: 18rem;
    --font-sans: var(
        --font-fmaily,
        'Instrument Sans',
        ui-sans-serif,
        system-ui,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        'Noto Color Emoji'
    );
    --font-heading: var(--font-family-heading);
    --text-md: 1.05rem;
    --text-lg: 1.2rem;
    --text-xl: 1.35rem;
    --text-2xl: 1.65rem;
    --text-3xl: 2rem;
    --text-4xl: 2.5rem;
}
